.formulario{
    p{
        font: 300 40px 'Poppins', sans-serif;
        line-height: 42px;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    
    label{
        font: 300 20px 'Poppins', sans-serif;
    }
    
}

