#page-funcionalidades{
    display: flex;
    align-items: stretch;
    height: 100vh;
    strong{
        font: 700 36px 'Poppins', sans-serif;
        line-height: 42px;
        margin-top: 16px;
    }
    img {
        width: 300px;
        height: 300px;
        max-width: 320px;
        max-height: 320px;
    }
    aside{
        flex: 7;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 80px;
        p{
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: #f8f8f8;
        }

        h3{
            size: 50px;
        }

    }
    main{
        flex:7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 120px 80px;
        p{
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: black;
        }
        img {
            max-width: 320px;
            max-height: 320px;
        }

    }

}
.aside-right{
    background: #242425;
    color: #fff;
}
.aside-left{
    background: #3e3e3f;
    color: #fff;
}